.stats {
  display: flex;
  justify-content: space-around;
  padding: 80px 10%;
  background: #e8dfc8;
  text-align: center;
}

.stats h3 {
  font-size: 40px;
  font-family: "Fraunces", serif;
}

.stats p {
  font-family: "Roboto Flex", sans-serif;
}
